.git
.gitignore
.gitattributes
.github
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
yarn-error.log
.phpunit.result.cache
phpunit.xml
README.md
.editorconfig
Dockerfile
docker-compose.yml
.dockerignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
